body{
	text-align: center;
	background-attachment: fixed;
	background-color: black;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: image_url('bg.jpg');
	>div{
		width: 100%;
	}
}